<section class="main" *ngIf="cards.length > 0">
  <ul class="todo-list">
    <li *ngFor="let card of cards | reverse">
      <div class="view">
        <label>{{card.value}} - {{card.valueTranslation}}</label>
      </div>
    </li>
  </ul>
</section>
<section class="main" *ngIf="cards.length === 0">
  No cards!
</section>
<section>
  <form #cardForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
    <input name="value" placeholder="Word" autofocus="" [(ngModel)]="newCard.value" #value="ngModel">
    <input name="valueTranslation" placeholder="Translation" [(ngModel)]="newCard.valueTranslation" #valueTranslation="ngModel">
    <input name="submit" type="submit" value="Add New"/>
  </form>
</section>
